@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
  font-family: 'Roboto: wght@400', sans-serif;
}

.top {
  width: 100%;
  right: 0;
  top: 0;
  position: fixed;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.10);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  font-size: 45px;
  color: #000000;
}

.baseboard {
  width: 100%;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.10);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  font-size: 35px;
  color: #000000;
}

input {
  height: 30px;
  width: calc(100% - 80px);
  border-radius: 3px;
  border: transparent;
  background: transparent;
  font-size: 18px;
  line-height: 21px;
  font-family: 'Roboto:wght@400', sans-serif;
  color: #000000;
  outline-color: transparent;
}

::-webkit-input-placeholder {
  color: #000000;
  font-style: italic;
  font-family: 'Roboto: wght@400', sans-serif;
  font-weight: bold;
}

.messages {
  margin-top: 85px;
  height: calc(100% - 160px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 83px;
}

.message {
  height: 40px;
  width: 100%;
  background: #fff;
  align-items: center;
  margin: 2.5px 0px;
  display: flex;
  margin-left: 5px;
}

.status {
  background: #dcdcdc;
}

.reservada {
  background: #FFDEDE;
}

.talk {
  margin-left: 15px;
}

.mask {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
}

.hidden {
  display: none;
}

.contacts {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 260px;
  background-color: #fff;
  position: fixed;
  top: 0px;
  right: 0px;
}

.title {
  height: 82px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

.peoples {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-left: 15px;
}

.contacts ion-icon {
  font-size: 22px;
  margin-right: 6px;
}

.all {
  height: 36px;
  display: flex;
  align-items: center;
}

.people {
  margin: 3px 0px;
  height: 36px;
  display: flex;
  align-items: center;
}

.visibility {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin: 10px 0px;
}

.visibility .title {
  height: 50px;
}

.box {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.inside {
  display: flex;
  align-items: center;
  height: 36px;
  margin: 5px 0px;
}

.inside ion-icon {
  color: green;
  position: absolute;
  top: cacl((100% - 15px)/2);
  right: 40px;
  font-size: 15px;
}

.span {
  font-weight: bold;
}

.name {
  font-weight: bold;
}

.time {
  color: grey;
}

.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  right: 0px;
  top: 0px;
  background: white;
  z-index: 4;
}

.logo {
  width: 130px;
  position: fixed;
  right: calc((100% - 130px)/2);
  top: 80px;
}


.login .areaName {
  height: 54px;
  width: 261px;
  border-radius: 3px;
  border: transparent;
  background: #fff;
  font-size: 18px;
  line-height: 21px;
  font-family: 'Roboto:wght@400', sans-serif;
  color: #000000;
  outline-color: transparent;
  position: fixed;
  right: calc((100% - 261px)/2);
  top: 258px;
}

.button {
  padding: 10px;
  border-radius: 50px;
}